:root {
  /* COLORS */
  --color-primary: #fff;
  --color-primary2: #000;
  --color-secondary: #76ff7a;
  --color-secondary2: #026431;
  --color-tertiary: #000080;
  --color-tertiary2: #01c660;
  --color-tertiary3: #0080ff;
  --color-tertiary4: #026431;

  /* GRADIENTS */
  --gradient-primary: linear-gradient(to right, #000000, #0080ff);
  --gradient-secondary: linear-gradient(to right, #ebfaf2c0, #44f6ca);
  --gradient-secondary2: linear-gradient(to right, #44f6ca, #ebfaf2c0);
  --gradient-secondary3: linear-gradient(to right, #44f6ca, #ebfaf2);
  --gradient-tertiary2: linear-gradient(to left, #00ff7b, #0080ff);
  --gradient-tertiary3: linear-gradient(to left, #0080ff, #00ff7b);
  --gradient-tertiary4: linear-gradient(to right, #00c05d, #0055a9);
  --gradient-tertiary5: linear-gradient(to right, #44f6ca, #0080ff86);
  --gradient-tertiary6: linear-gradient(to top, #000, #0080ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* font-family: "roboto", sans-serif; */
  font-family: "Titillium Web", sans-serif;
}

.input-container {
  position: relative;
  display: inline-block;

  i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }

  input {
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  .input-container i {
    left: 5px;
  }

  .input-container input {
    padding-left: 30px;
  }
}

/* NAVBAR */
#navbar {
  background-image: var(--gradient-primary);
}

#logo {
  font-size: 36px;
  font-weight: 550;
  color: var(--color-primary);
  /* text-shadow: 0px 1px 1px black; */
  margin-bottom: 5px;
}

#logo span {
  color: var(--color-secondary);
}

.navbar-toggler span {
  color: var(--color-secondary);
}

.navbar-nav {
  margin-left: 20px;
}

.nav-item a {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.1s ease-in;
  font-family: "Titillium Web", sans-serif;

  border-bottom: 4px solid transparent;
}

.nav-item a:hover {
  color: var(--color-tertiary2);
  border-width: 10%;
  border-bottom: 4px solid var(--color-tertiary2);
}

.nav-item .nav-link:active {
}

nav ul a button {
  margin-left: 10px;
}

nav ul a button:hover {
  background: #01c660 !important;
  color: var(--color-primary);
}

#navbar form button {
  background: var(--color-tertiary2);
  color: var(--color-primary);
  border: none;
}

#navbar form input {
  color: var(--color-tertiary);
  width: 90%;
}

.btn-primary2 {
  color: var(--color-primary) !important;
  background: var(--gradient-secondary2);
  margin-left: auto;
  transition: 0.5s ease-in-out;
}

.btn-prmary2:hover {
  background: var(--gradient-secondary) !important;
}

.btn-secondary {
  background: var(--color-tertiary) !important;
  border: var(--color-tertiary) !important;
}

.link {
  padding: 8px;
  border-radius: 5px;
  color: #007dfa;
  margin-left: 10px;
  text-decoration: none;
  background: var(--gradient-secondary2);
  text-align: center !important;
  align-items: center !important;
  transition: 0.5s ease-out;
  font-family: "Titillium Web", sans-serif;
}

.link:hover {
  background: var(--gradient-secondary);
  transition: 0.5s all;
  transition: 0.5s ease-out;
}

.fa-droplet {
  color: var(--color-primary);
  padding: 10px;
  font-size: 30px;
}

/* NAVBAR */

/* SECTION HERO */

h2 {
  text-align: center;
}

.home {
  width: 100%;
  /* height: 100vh; */
}

@media (max-width: 400px) {
  .home {
    padding: 0;
  }

  .home .content {
    padding: 0;
  }
}

.background-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 1;
}

.home .content h5 {
  color: var(--color-primary);
  font-size: 38px;
  /* font-weight: 600; */
  text-shadow: 0px px 1px #000000;
  transition: 0.2s;
}

.home .content h6 {
  background-image: var(--gradient-secondary3) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600 !important;
  font-size: 20px;
}

.home .content .main-wrapper {
  align-items: center;
  width: 90%;
  margin: auto;
}

.home .content h1 {
  color: #76ff7a !important;
  font-size: 53px !important;
  font-weight: 600;
  text-shadow: 0px px 1px #000000;
  font-family: "Titillium Web", sans-serif;
}

.home p {
  /* margin-top: 20px; */
  color: var(--color-primary);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

@media (max-width: 850px) {
  .background-video {
    background-position: 50%;
  }
}

@media (max-width: 450px) {
  .home .content h1 {
    font-size: 30px !important;
    font-family: "Titillium Web", sans-serif;
  }
  .home .content p {
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
  }
}

@keyframes changetxt {
  0% {
    content: "Lekki";
  }
  10% {
    content: "Ajah";
  }
  20% {
    content: "Epe";
  }
  30% {
    content: "Ojo";
  }
  40% {
    content: "Badagry";
  }
  50% {
    content: "Ikorodu";
  }
  60% {
    content: "Lekki";
  }
  70% {
    content: "Ajah";
  }
  80% {
    content: "Epe";
  }
  90% {
    content: "Ojo";
  }
  100% {
    content: "Badagry";
  }
  50% {
    content: "Ikorodu";
  }
}

.changecontent::after {
  content: "";
  background: var(--gradient-secondary3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: changetxt 10s infinite linear;
}

h5 {
  color: var(--color-primary) !important;
}

.h1 {
  font-size: 10px;
  color: var(--color-primary) !important;
}

p {
  color: var(--color-primary) !important;
}

.home .content .wrapper {
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home .content a {
  padding: 15px;
  color: var(--color-primary);
  background-image: var(--gradient-tertiary3);
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
}

.home .content a:hover {
  font-weight: 600;
  color: var(--color-primary);
  background-image: linear-gradient(to right, #0080ff, #00ff7b);

  transition: 0.5s ease-in-out;
}

.home .content a:active {
  color: var(--color-primary);
  background-image: linear-gradient(to bottom, #007dfa, #00bd5b);
  margin-top: 5px;
}

@media (max-width: 850px) {
  .home {
    background-position: 50%;
  }
}

@media (max-width: 450px) {
  .home .content h5 {
    font-size: 25px;
    font-family: "Titillium Web", sans-serif;
  }
  .home .content h1 {
    font-size: 38px;
    font-family: "Titillium Web", sans-serif;
  }
  .home .content p {
    font-size: 13px;
    font-family: "Titillium Web", sans-serif;
  }
}

/* SECTION-PACKAGES */

.packages {
  width: 100%;
  margin-bottom: 50px;
}

.main-txt h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
}

.main-txt h1 span {
  color: #32de84;
}

.packages .card {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.packages .card img {
  border-radius: 5px;
}

.packages .card .card-body {
  background: transparent;
}

.packages .card .card-body h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-tertiary3);
}

.packages .card .card-body p {
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
}

.checked {
  color: var(--color-primary2);
}

.packages .card .card-body h6 {
  font-size: 20px;
  color: var(--color-tertiary3);
  font-family: "Titillium Web", sans-serif;
}

.packages .card .card-body {
  padding: 10px;
  text-decoration: none;
  background: var(--color-tertiary3);
  /* background-image: linear-gradient(to right, #3b9dff, #32de84); */
  font-weight: 1200;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
}

.card a {
  padding: 5px;
  background: var(--color-tertiary3);
  border-radius: 5px;
  text-decoration: none;
}

/* FORM */

.main-container {
  align-items: center;
}

.form-container {
  background-color: var(--gradient-secondary);
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.435)),
    url("img/faucet-3240211.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.form-wrapper {
  /* max-width: 50%; */
  position: relative;
  align-items: center;
}

form {
  padding: 15px;
  color: var(--color-primary);
}

.form-control {
  display: block;
  /* width: 80% !important; */
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #9bc4ec;
  background-color: var(--color-primary);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  font-family: "Titillium Web", sans-serif;

  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: rgba(44, 121, 204, 0.3) 0px 4px 12px;
  align-items: center;
}

.form-container .btn-register {
  padding: 5px;
  color: var(--color-primary);
  background: var(--color-secondary2);
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: auto;
  font-family: "Titillium Web", sans-serif;
}

.btn-register {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: #0dfdf9;
}

.form-wrapper .form-label {
  color: #00ff7b !important;
}

.form-wrapper .form-check label {
  color: #00ff7b !important;
}

.form-wrapper a {
  margin-right: 20px !important;
  color: var(--color-primary);
}

.form-wrapper a:hover {
  color: #0dfdf9;
}

.form-container h4 {
  color: #00ff7b;
  text-align: center;
  margin-top: 40px;
}

.form-container .form-text-2 {
  color: var(--color-primary) !important;
  margin-top: 8px;
}

.form-container .form-text {
  color: #9bc4ec;
}

.mb-3 {
  margin-top: 0 !important;
}

/* CARDS */

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute !important;
  top: 50% !important;
  bottom: 0 !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  color: var(--color-primary) !important;
  text-align: center !important;
  /* background: #3b9dff !important; */
  background-image: var(--gradient-tertairy5);
  border: 100% !important;
  opacity: 1 !important;
  font-family: "Titillium Web", sans-serif;

  border-radius: 100% !important;
  /* margin-left: -30px !important; */

  transition: opacity 0.15s ease !important;
}

.carousel-control-next {
  margin-right: -30px !important;
}

.carousel-control-prev {
  margin-left: -30px !important;
}

/* ABOUT */

.about {
  padding: 50px;
}

.about .card {
  border-radius: 10px;
}

.about .card video {
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.about h2 {
  font-weight: 600;
  text-align: center !important;
  align-items: center;
  margin-top: 30px;
  letter-spacing: 1px;
  font-family: "Titillium Web", sans-serif;

  color: var(--color-tertiary4) !important;
}

.about p {
  font-size: 500;
  color: var(--color-primary2) !important;
  align-items: center;
  text-align: center;
  margin-bottom: auto;
  margin-top: 25px;
}

@media (max-width: 750px) {
  .about {
    padding: 0;
  }

  /* .user .fa-solid {
    display: none;
  } */
}

@media (max-width: 920) {
  .navbar .user .fa-user {
    display: none !important;
  }
}

/* SECTION-SERVICES */

.services {
  margin-top: 50px;
  text-align: center;
}

.services-card {
  box-sizing: 0px 5px 5px -6px #02233c;
  border: none;
  cursor: pointer;
}

.services .card {
  background-image: var(--gradient-primary);
  transition: transform 0.5s;
}

.services .card:hover {
  transform: translateY(-15px) scale(1.03);
  cursor: pointer;
}

.services .card i {
  font-size: 80px;
  text-align: center;
  background: var(--gradient-secondary3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 20px;
}

.services .card p {
  color: var(--color-primary);
}

.services .card .card-body h3 {
  font-weight: 600;
  color: var(--color-primary);
}

.subscribe {
  margin-top: 50px;
}

/* VENDORS */

.vendors {
  margin-bottom: 50px;
}
.vendors .card-body {
  background-image: var(--gradient-tertiary2);

  border-radius: none;
  transition: 0.5s ease-in-out;
}

.vendors .card-body:hover {
  background-image: var(--gradient-tertiary3);
}

.vendors .card-body a {
  color: var(--color-primary) !important;
  padding: 0;
  background: none;
  transition: 0.5s ease-in-out;
}

.vendors .card-body h6 {
  color: var(--color-primary) !important;
}

.vendors .card-body h3 {
  color: var(--color-tertiary) !important;
  font-weight: 600;
}

.vendors .card-body a {
  padding: 5px;
  border-radius: 10px;
}

.vendors .card {
  transition: transform 0.5s;
}

.vendors .card:hover {
  transform: translateY(-3px) scale(1.03);
  cursor: pointer;
}

.vendors .card button {
  padding: 5px;
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-tertiary);
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  transition: 0.7s;
}

.vendors .card button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-weight: 500;
}

.vendors .card button:active {
  padding: 7px;
}

/* = */
#footer {
  width: 100%;
  background-image: var(--gradient-primary);
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

footer .container {
  align-items: center;
  text-align: center;
  font-family: "Titillium Web", sans-serif;

  #footer h1 {
    /* color: var(--color-secondary) !important; */
    font-weight: 600;
    padding-top: 15px;
    margin-top: 0;
    text-shadow: var(--color-tertiary2);
    font-family: "Titillium Web", sans-serif;
  }

  h1 {
    color: var(--color-secondary);
    font-weight: 600;
  }

  h2 {
    padding-top: 25px;
    color: var(--color-secondary);
    #map {
      width: 400px;
      height: 400px;
      border-radius: 10px;
      -webkit-background-clip: text;
    }
  }

  .main-p {
    color: #ebfaf2c0 !important;
    font-weight: 600;
  }
}

.social-links i {
  background: var(--color-primary) !important;
  color: var(--color-primary2);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  align-items: center;
  text-align: center;
  /* font-family: "Titillium Web", sans-serif; */
}

.social-links i:not(:first-child) {
  margin-left: 30px;
}
.social-links i:hover {
  background: #01c660 !important;
  color: var(--color-primary);
}

.ratings i:hover {
  color: var(--color-secondary);
}

.ratings i:active {
  color: var(--color-secondary2);
}

.ratings {
  color: #0d6efd;
}

.fa-brands {
  color: var(--color-primary);
}

footer h6 {
  color: var(--color-tertiary3);
  font-size: 10px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

footer p {
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  color: var(--color-tertiary3) !important;
  font-size: 15px;
  font-weight: 600;
}

.subscribe .container h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
  font-family: "Titillium Web", sans-serif;

  color: var(--color-secondary2);
}

.subscibe .container .card {
  align-items: center;
  padding: 30px !important;
}

.subscribe form {
  padding: 30px;
  align-items: center;
}

.subscribe form label {
  color: var(--color-tertiary4) !important;
}

.subscribe .form-control {
  width: 100%;
}

.subscribe .container button {
  margin-left: 31px !important;
  background: var(--color-secondary2);
  border: none;
}

.subscribe .container video {
  height: 300px;
  object-fit: cover;
}

.subscribe .form-text-2 {
  text-align: center;
}

section .accordion {
  padding: 50px;
  background-image: var(--gradient-tertiary6);
}

.accordion-body {
  color: var(--color-primary2);
}

.accordion-item {
  background-color: var(--color-primary2);
}

/* PRE-BOOK */

.pre-book {
  color: var(--color-primary2) !important;
  font-family: "Titillium Web", sans-serif;
}

.pre-book:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pre-book-text {
  margin-bottom: 10px !important;
  /* margin-top: 10px; */
}

.book-section {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.book-section button {
  border: 3px solid var(--color-primary2);
  font-family: "Titillium Web", sans-serif;
}

.book-section button:hover {
  color: var(--color-tertiary3);
  font-size: 18px;
  font-weight: 400;
  border: 3px solid var(--color-tertiary3);

  font-family: "Titillium Web", sans-serif;
}

.main-book {
  margin-top: 30px;
}

.main-book h2 {
  /* text-align: start; */
  color: var(--color-tertiary4);
  text-transform: uppercase;
}

.pre-book {
  color: var(--color-primary2) !important;
  font-family: "Titillium Web", sans-serif;
}

.pre-book:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pre-book-text {
  margin-bottom: 10px !important;
  margin-top: 10px;
}

.book-section {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.book-section button {
  border: 3px solid var(--color-primary2);
  font-family: "Titillium Web", sans-serif;
}

.book-section button:hover {
  color: var(--color-tertiary3);
  font-size: 18px;
  font-weight: 400;
  border: 3px solid var(--color-tertiary3);

  font-family: "Titillium Web", sans-serif;
}

.main-book {
  margin-top: 30px;
}

.main-book h2 {
  /* text-align: start; */
  color: var(--color-tertiary4);
  text-transform: uppercase;
}

/* PRE-BOOK */

#pre-book {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
}

.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-left: 5px;
    color: #76ff7a;
    font-weight: 600;
  }
}

.payment-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  color: var(--color-primary2);

  @media (max-width: 769px) {
    display: flex;
    flex-direction: column;
  }

  a {
    background-color: var(--color-primary);
    text-decoration: underline;
    padding: 5px;
    border: none;
    color: var(--color-secondary2) !important;
  }

  a:hover {
    color: var(--color-primary) !important;
  }
}

#form-text {
  text-align: center;
  font-weight: 600;
  color: #76ff7a;
}

#form-text-2 {
  text-align: center;
  font-weight: 600;
  color: #76ff7a;
  margin-bottom: 25px;
}

#main {
  margin-top: 50px;
}

.card-2 {
  margin-top: 200px;
  border: none !important;
  padding: 30px;

  h2 {
    text-align: start;
    color: var(--color-secondary2);
    font-weight: 600;
  }

  p {
    color: #0d6efd !important;
    border-bottom: 5px solid var(--color-secondary2) !important;
  }
}

@media (max-width: 768px) {
  .card {
    margin-top: 100px;
  }

  footer .container .form-control {
    margin-left: 0 !important;
    align-items: center;
  }

  .form-control::placeholder .form-select {
    font-size: 15px;
  }
}

.main-container {
  /* background: var(--gradient-tertiary6) !important; */
  background-size: cover;
}

.main {
  background-image: radial-gradient(#0e6ffd, #77ffcbcc);
}

.card-2 h5 {
  color: var(--color-secondary2) !important;
}

h5 .anchor {
  color: #0d6efd !important;
  background: none;
  text-decoration: underline;
}

.form-label {
  color: var(--color-secondary2) !important;
  font-weight: 600;
}
.form-text {
  p {
    color: var(--color-primary2) !important;
  }
}

footer .container .form-control {
  width: 100%;
  /* margin-left: 200px; */
  padding: 10px;
  border-radius: 15px;
}

span .carousel-control-prev,
span.carousel-control-next {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 50% !important;
  padding: 10px !important;
}

.form-control .review-box {
  width: 60%;
}

.form-control .review-btn {
  align-items: center;
}

#map {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
