* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* font-family: "roboto", sans-serif; */
  font-family: "Lato", sans-serif;
}

/* html {
  
} */







/* NAVBAR */
#navbar {
  /* background-color: #3b9dff; */
  /* background-color: #1e90ff; */
  background-image: linear-gradient(to right, #000000, #0080ff);
}

/* .navbar-2 {
  padding: 5px;
} */

#logo {
  font-size: 36px;
  font-weight: 550;
  color: #ffffff;
  /* text-shadow: 0px 1px 1px black; */
  margin-bottom: 5px;
}

#logo span {
  color: #76ff7a;
}

.navbar-toggler span {
  color: #76ff7a;
}

.navbar-nav {
  margin-left: 20px;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}

.nav-item .nav-link:hover {
  background: #01c660;
  color: #ffffff;
}

nav ul a button {
  margin-left: 10px;
}

nav ul a button:hover {
  background: #01c660 !important;
  color: #fff;
}

#navbar form button {
  background: #01c660;
  color: #fff;
  border: none;
}

#navbar form input {
  color: #000080;
  width: 100%;
}

.fa-droplet {
  color: #fff;
  padding: 10px;
  font-size: 30px;
}

/* NAVBAR */

/* SECTION HERO */



h2 {
  text-align: center;
}

.home {
  width: 100%;
  /* height: 100vh; */

}

@media (max-width: 400px) {
  .home {
    padding: 0;
  }

  .home .content {
    padding: 0;
  }
} 

.background-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content {
  position: relative;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 1;
}

.home .content h5 {
  color: #fff;
  font-size: 38px;
  /* font-weight: 600; */
  text-shadow: 0px px 1px #000000;
  transition: 0.2s;
}

/* .home .content h5:hover {
} */

.home .content .main-wrapper {
  align-items: center;
  width: 90%;
  margin: auto;
  
}

.home .content h1 {
  color: #76ff7a !important;
  font-size: 53px !important;
  font-weight: 900;
  text-shadow: 0px px 1px #000000;
  /* margin-top: 5px; *
}



.home p {
  /* margin-top: 20px; */
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}


@media(max-width: 850px) {
  .background-video {
    background-position: 50%;
  }
}

@media(max-width: 450px) {
  .home .content h1 {
    font-size: 30px !important;
  }
  .home .content p {
    font-size: 15px;
  }
}

@keyframes changetxt {
  0% {
    content: "Lekki";
  }
  10% {
    content: "Ajah";
  }
  20% {
    content: "Epe";
  }
  30% {
    content: "Ojo";
  }
  40% {
    content: "Badagry";
  }
  50% {
    content: "Ikorodu";
  }
  60% {
    content: "Lekki";
  }
  70% {
    content: "Ajah";
  }
  80% {
    content: "Epe";
  }
  90% {
    content: "Ojo";
  }
  100% {
    content: "Badagry";
  }
  50% {
    content: "Ikorodu";
  }
}

.changecontent::after {
  content: "";
  background: linear-gradient(to right, #44f6ca, #ebfaf2);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  /* text-shadow: 0px 1px 1px #c1eed7; */
  animation: changetxt 10s infinite linear;
}

h5 {
  color: #ffffff !important;
}

.h1 {
  font-size: 10px;
  color: #ffffff !important;
  /* background: linear-gradient(to right, #c1eed7, #00ffff); */
  /* background: linear-gradient(to right, #00FFFF, #7FFFD4); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
}

p {
  color: #fff !important;
}

.home .content .wrapper {
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .home .content .container {
  padding-top: 80px;
  align-items: center;
  text-align: center;
} */

.home .content a {
  padding: 15px;
  color: #ffffff;
  /* background: #fff; */
  background-image: linear-gradient(to right, #00c05d, #0055a9);
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  /* width: 30% */
  /* margin-right: ; */
}

.home .content a:hover {
  font-weight: 600;
  color: #fff;
  background-image: linear-gradient(to right,#0080ff, #00ff7b);

  transition: 0.5s ease-in-out;
}

.home .content a:active {
  color: #fff;
  background-image: linear-gradient(to bottom,#007dfa, #00bd5b);
  margin-top: 5px;;
}

/* .homem .content .btn-register a {
  background-image: linear-gradient(to right, #00ff7b, #0080ff);
} */

@media (max-width: 850px) {
  .home {
    background-position: 50%;
  }
}

@media (max-width: 450px) {
  .home .content h5 {
    font-size: 25px;
  }
  .home .content h1 {
    font-size: 38px;
  }
  .home .content p {
    font-size: 13px;
  }
}

/* SECTION-PACKAGES */

.packages {
  width: 100%;
  margin-bottom: 50px;
  /* height: 100vh; */
}

.main-txt h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
}

.main-txt h1 span {
  color: #32de84;
}

.packages .card {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  /* background-color: #ebfaf2; */
  /* background-image: linear-gradient(to right, #97ffca, #8ac4ff); */
}

.packages .card img {
  border-radius: 5px;
}

.packages .card .card-body {
  background: transparent;
}

.packages .card .card-body h3 {
  font-size: 25px;
  font-weight: 600;
  color: #0080ff;
}

.packages .card .card-body p {
  font-size: 15px;
}

.checked {
  color: #000;
}

.packages .card .card-body h6 {
  font-size: 20px;
  color: #0080ff;
}

.packages .card .card-body {
  padding: 10px;
  text-decoration: none;
  background: #0080ff;
  /* background-image: linear-gradient(to right, #3b9dff, #32de84); */
  font-weight: 1200;
  border-radius: 5px;
}

/* .card a:hover {
  padding: 5px;
  color: #fff;
  background-image: linear-gradient(to right, #00ff7b, #0080ff);
  border-radius: 5px;
} */

.card a {
  padding: 5px;
  background: #0080ff;
  border-radius: 5px;
  text-decoration: none;
}

/* FORM */

.main-container {
  align-items: center;
}

.form-container {
  background-color: #000080;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.435)),
    url("img/faucet-3240211.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;;
}

.form-wrapper {
  /* max-width: 50%; */
  position: relative;
  align-items: center;
}

form {
  padding: 15px;
  color: #fff;
}

/* .form-wrapper > * {
  margin: 0;
  padding: 0;
} */

.form-control {
  display: block;
  /* width: 80% !important; */
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #9bc4ec;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: rgba(44, 121, 204, 0.3) 0px 4px 12px;
  align-items: center;
}

.form-container .btn-register {
  padding: 5px;
  color: #fff;
  background: #026431;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: auto;
}

.btn-register {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color: #0dfdf9;
}

.form-wrapper .form-label {
  color: #00ff7b !important;
}

.form-wrapper .form-check label {
  color: #00ff7b !important;
}

.form-wrapper a {
  margin-right: 20px !important;
  color: #fff;
}

.form-wrapper a:hover {
  color: #0dfdf9;
}

.form-container h4 {
  color: #00ff7b;
  text-align: center;
  margin-top: 40px;
}

.form-container .form-text-2 {
  color: #fff !important;
  margin-top: 8px;
}

.form-container .form-text {
  color: #9bc4ec;
}

.mb-3 {
  margin-top: 0 !important;
}

.form-label {
  color: #ebfaf2 !important;
}

/* .form-select {
  color: #9bc4ec;
} */

/* .subscribe .card; */

/* CARDS */

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute !important;
  top: 50% !important;
  bottom: 0 !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  color: #fff !important;
  text-align: center !important;
  /* background: #3b9dff !important; */
  background-image: linear-gradient(to right, #44f6ca, #0080ff86) !important;
  border: 100% !important;
  opacity: 1 !important;

  border-radius: 100% !important;
  /* margin-left: -30px !important; */

  transition: opacity 0.15s ease !important;
}

.carousel-control-next {
  margin-right: -30px !important;
}

.carousel-control-prev {
  margin-left: -30px !important;
}

/* ABOUT */

.about {
  padding: 50px;
  /* margin-top: 50px;
  background-image: linear-gradient(to top, #0000005e, #0080ff86); */
}

.about .card {
  border-radius: 10px;
}

.about .card video {
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  /* transition: transform 0.5s; */
}

/* .about .card video:hover {
  /* transform: translateY(1rem) scale(1.1); */
} *

.about h2 {
  font-weight: 600;
  text-align: center !important;
  align-items: center;
  margin-top: 30px;
  letter-spacing: 1px;
  color: #026431 !important;
}

.about p {
  font-size: 500;
  color: #000 !important;
  align-items: center;
  text-align: center;
  margin-bottom: auto;
  margin-top: 25px;
}

@media (max-width: 750px) {
  .about {
    padding: 0;
  }
}

/* SECTION-SERVICES */

.services {
  /* background-color: #0080ff; */
  margin-top: 50px;
  text-align: center;
}

.services-card {
  box-sizing: 0px 5px 5px -6px #02233c;
  border: none;
  cursor: pointer;

  /* background-color: #0080ff; */
}

.services .card {
  background-image: linear-gradient(to right, #000000, #0080ff);
  transition: transform 0.5s;
}

.services .card:hover {
  transform: translateY(-15px) scale(1.03);
  cursor: pointer;
}

.services .card i {
  font-size: 80px;
  text-align: center;
  background: linear-gradient(to right, #44f6ca, #ebfaf2);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 20px;
}

.services .card p {
  color: #fff;
}

.services .card .card-body h3 {
  font-weight: 600;
  /* color: #c0fbdd; */
  color: #fff;
}

.subscribe {
  margin-top: 50px;
}

/* VENDORS */


.vendors  {
  margin-bottom: 50px;
}
.vendors .card-body {
  background-image: linear-gradient(to left, #00ff7b, #0080ff);

  border-radius: none;
  transition: 0.5s ease-in-out;
}

.vendors .card-body:hover {
  background-image: linear-gradient(to left, #0080ff, #00ff7b);
}

.vendors .card-body a {
  color: #fff !important;
  padding: 0;
  background: none;
  transition: 0.5s ease-in-out;
}

.vendors .card-body h6 {
  color: #fff !important;
}

.vendors .card-body h3 {
  color: #000080 !important;
  font-weight: 600;
}

.vendors .card-body a {
  padding: 5px;
  border-radius: 10px;
}

.vendors .card {
  transition: transform 0.5s;
}

.vendors .card:hover {
  transform: translateY(-3px) scale(1.03);
  cursor: pointer;
}

.vendors .card button {
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: navy;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  transition: 0.7s;
}

.vendors .card button:hover {
  background-color: #000080;
  color: #fff;
  padding: 7px;
  font-weight: 500;
}
/* .vendor .card a {
  padding: 0 !important;
  background-color: none !important;
} */

/* FOOTER */
#footer {
  width: 100%;
  /* margin-top: 150px; */
  background-image: linear-gradient(to right, #000000, #0080ff);
  text-align: center;
}

footer .container {
  align-items: center;
  text-align: center;;
}

#footer h1 {
  color: #fff;
  font-weight: 600;
  padding-top: 75px;
  margin-top: 0;
  text-shadow: #01c660;
}

.social-links i {
  color: #fff !important;
  background: #01c660;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
  align-items: center;
  text-align: center;
}


.social-links i:not(:first-child) {
  margin-left: 30px;
}
.social-links i:hover {
  color: #01c660 !important;
  background: #fff;
}

.fa-brands {
  color: #fff;
}

footer h6 {
  color: #fff;
  font-size: 10px;
  text-align: center;
  align-items: center;
}

footer p {
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
}

/* SUBSCRIBE */

/* .subscribe {
  align-items: center;
  text-align: center;
} */

.subscribe .container h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
  color: #026431;
}

.subscibe .container .card {
  align-items: center;
  padding: 30px !important;
}

/* .subscribe .container h4 {
  text-align: center;
} */

.subscribe form {
  padding: 30px;
  align-items: center;
}

.subscribe form label {
  color: #026431 !important;
}

.subscribe .form-control {
  width: 100%;
}

.subscribe .container button {
  margin-left: 31px !important;
  background: #026431;
  border: none;
}

.subscribe .container video {
  height: 300px;
  object-fit: cover;
}

.subscribe .form-text-2 {
  /* align-items: center !important; */
  text-align: center;
}

section .accordion {
  /* margin-top: 50px; */

  padding: 50px;
  background-image: linear-gradient(to top, #000, #0080ff);
  /* opacity: 1; */
}

.accordion-body {
  color: #000;
}

.accordion-item {
  /* background-image: linear-gradient(to bottom, #00ff7b, #000); */
  background-color: #000;
}



@media (max-width: 400px) {
  /* .background-video {
    width: none;
  } */

  .container {
    /* width: 100% */
  }
}
